@charset "utf-8";
body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: .95em;
	background-color: #FFF;
}
#outerwrapper {
	width: 1281px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: visible;
}
#header {
	background-color: #CCCCCC;
	float: left;
	width: 100%;
	border: thick double #FFF;
}
.logo {
	font-size: 200%;
	padding: 0.01em;
	width: 100%;
	border: 6px none #f2f4f8;
	color: #000000;
	background-color: #999999;
	text-align: center;
	text-decoration: underline;
}
#navBar {
	font-size: 110%;
	color: #000000;
	float: left;
	width: 100%;
}
#navBar ul {
	text-align: center;
	display: block;
	list-style-type: none;
}
#navBar ul li {
	display: inline;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
#navBar ul li a:link {
	font-size: 125%;
	color: #000000;
	text-decoration: none;
}
#navBar ul li a:visited {
	font-size: 125%;
	color: #000000;
	text-decoration: none;
}
#navBar ul li a:hover {
	font-size: 125%;
	color: #000000;
	text-decoration: underline;
}
.illusFloatLeft {
	padding: 10px;
	float: left;
}
#rightColumn {
	padding: 1em;
	float: left;
	width: 47%;
}
#content {
	font-size: 125%;
	float: left;
	width: 100%;
	overflow: auto;
	color: #000;
	float: left;
	padding: .25em;
	margin: 0px;
}
#content a:link {
	color: #000;
	text-decoration: none;
}
#content a:hover {
        color: #000;
        text-decoration: underline;
        font-size: 135%;
}
#content a:visited {
	color: #000;
	text-decoration: none;
}

.illusFloatRight {
	padding: 1em;
	float: right;
}
#footer {
	text-align: center;
	vertical-align: middle;
	float: left;
	width: 100%;
	padding-left: 0.25em;
	padding-right: 0.25em;
	color: #000000;
}
#footer a:link {
	color: #000000;
	text-decoration: none;
}
#footer a:visited {
	color: #000000;
	text-decoration: none;
}
#footer a:hover {
	color: #000000;
	text-decoration: underline;
}
#peopleBar {
	color: #000000;
	width: 100%;
}
#peopleBar ul {
	text-align: center;
	display: block;
}
#peopleBar ul li {
	display: inline;
	padding-left: 5em;
	padding-right: 5em;
}
#peopleBar ul li a:link {
	font-size: 90%;
}
#peopleBar ul li a:hover {
	font-style: italic;
	font-size: 90%;
	text-decoration: none;
}
#peopleBar ul li a:visited {
	font-size: 90%;
}
